.main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 350%;
    font-family: Merriweather,serif;
}
.second_div{
    display: flex;
    align-items: center;
    height: 130px;
    background-color:white;
    border: 1px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 10px #d4d4d7;
    width: 1000px;
    cursor: text;
}
.right_div{
    width: 50%;
    overflow: hidden;
    // white-space-collapse: preserve;
    // text-wrap: nowrap;
    white-space: nowrap;
}
.left_div{
    width: 50%;
    text-align: right;
    overflow: hidden;
    // white-space-collapse: preserve;
    // text-wrap: nowrap;
    white-space: nowrap;
    padding-right: 45px;
    color: #ababb0
}
.input {
    width: 1px;
    height: 52px;
    border: none;
    outline: none;
    font-size: 350%;
    font-weight: bolder;
}

.arrow_help {
    font-size: large;
    background: #337AB7;
    border-radius:6px;
    text-align: center;
    color: #fff;
    padding: 5px;
    margin-top: 20px;
    margin-left: 45px;
    position: relative;
    z-index: 10;
    animation: arrow_help 1s linear infinite;
  
    &::after {
      content: '';
      width: 0;
      height: 0;
      display: block;
      position: absolute;
      z-index: 10;
      border: 0;
    }
  
    &::after {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      margin-left: -10px;
      left: 50%;
      border-top: 10px solid #337AB7;
      bottom: -10px;
    }

    @keyframes arrow_help {
      0% {
        bottom: 0;
      }
      50% {
        bottom: 10px;
      }
      100% {
        bottom: 0;
      }
    }
  }

.visibility_hidden{
    visibility: hidden;
    font-size: large;
    border-radius:6px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 45px;
    position: relative;
    z-index: 10;
  }
  
  @media (max-width: 800px) {
    .main_div {
      font-size: 150%;
    }
  
    .second_div {
      width: 97vw;
      height: 80px;
    }
  
    .right_div,
    .left_div {
      width: 50%;
      overflow: hidden;
      white-space: nowrap;
    }
  
    .input {
      height: 32px;
      font-size: 120%;
    }
  
    .arrow_help {
      font-size: small;
      margin-top: 10px;
      margin-left: 15px;
  
      &::after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        margin-left: -4px;
        border-top: 4px solid #337ab7;
        bottom: -4px;
      }
    }
  
    .visibility_hidden {
      font-size: small;
      margin-top: 10px;
      margin-left: 15px;
    }
  }


